@model Ticketing.Models.Articles.CreateArticleVewModel

@{
    ViewData["Title"] = "ایجاد مقاله";
}

<div class="content-wrapper">
          <div class="page-header">
            <h3 class="page-title">
              مقاله جدید
            </h3>
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-action="index" asp-controller="Article">مقاله</a></li>
                <li class="breadcrumb-item active" aria-current="page">مقاله جدید</li>
              </ol>
            </nav>
          </div>
          <div class="row">
        <div class="col-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">مقاله</h4>
                    <form class="forms-sample" method="post" asp-action="Create" asp-controller="Article" enctype="multipart/form-data">
                   
                        <div class="form-group">
                            <label asp-for="Title"></label>
                            <input type="text" class="form-control" asp-for="Title" style="width: 500px;" placeholder="عنوان خود را وارد کنید">
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                      
                      
                        <div class="form-group">
                            <label asp-for="ShortDescription"></label>
                            <input type="text" class="form-control" asp-for="ShortDescription" >
                            <span asp-validation-for="ShortDescription" class="text-danger"></span>
                        </div>

                        
                        <div class="form-group">
                            <label asp-for="Content"></label>
                             <textarea asp-for="Content" class="form-control" >
                            </textarea>
                            <span asp-validation-for="Content" class="text-danger"></span>
                        </div>

                        
                        <div class="form-group">
                            <label asp-for="CategoryId" class="control-label"></label>
                             <select asp-for="CategoryId" class ="form-control" asp-items="ViewBag.CategoryId"></select>
                             <span asp-validation-for="CategoryId" class="text-danger"></span>
                        </div>

                         <div class="col-md-10">

                         <div class="custom-file">  
                                <input class ="form-control" asp-for="ArticleImageFile" type="file"  multiple>  
                                <label class="control-label" asp-for="ArticleImageFile">تصویر مورد نظر را انتخاب نمایید</label>
                            </div>  

                         </div>

                          <div class="col-md-10">

                         <div class="custom-file">  
                                <input class ="form-control" asp-for="ArticleFile" type="file"  multiple>  
                                <label class="control-label" asp-for="ArticleFile">فایل مورد نظر را انتخاب نمایید</label>
                            </div>  

                         </div>

                        <button type="submit" class="btn btn-primary mr-2">ثبت</button>
                        <a asp-action="index" asp-controller="Article" class="btn btn-light">بازگشت</a>
                    </form>

                   
                </div>
            </div>
        </div>
          </div>
        </div>

<script src="~/lib/ckeditor5/ckeditor.min.js"></script>


